RewriteEngine on
RewriteBase /trinhtham
RewriteRule ^mucluc/(.*).html$ mucluc.php?truyen=$1/ [L]
RewriteRule ^truyen/(.*).html$ view.php?truyen=$1/ [L]
RewriteRule ^page/(.*).html$ index.php?page=$1 [L]
RewriteRule ^index.html$ index.php [L]
