body { background-color: #000000; border: solid 2px #555454;
margin: 0px auto; max-width: 100%; }
a:link { text-decoration: none; color : #00ff00 }
a:active { text-decoration: none; color : #99cc33 }
a:visited { text-decoration: none; color : #dfdfdf }
a:hover { text-decoration: none; color : #FFFF00 }
.body { color: #dfdfdf; font-size: small; font-family: Arial, Tahoma, sans-serif;
background-color: #000000; }
.menu, .center, .name, .value, .down, .up, .ActiveTab, .ActiveHover { border:1px solid #555454; padding: 2px; margin: 1px; background-color: #000000; font-size: small; }
.bmenu, .head, .end, .aptiles, .gia, .td, .tt { background-color: #2b2c2a; color: #949494; font-weight: bold; text-align: center; padding: 2px; margin: 1px; border: solid 1px #555454; }

.form { background: top right repeat-x;
text-align: left; border-left: #00648e solid 1px; border-bottom: #00648e solid 1px;
margin:0px;
color:#faffff; }
.input { background: #000; top right repeat-x;
text-align: left;
border: #00547e solid 1px;
height: 20px;
max-width: 110px;
margin-top:3px;
margin-left:5px;
color:#fff;
font-size:10px; }
textarea:hover { border: 1px #00446e solid; }
